body {
    overflow-x: hidden;
    font-family: 'Poppins';
    ;
}

.container {
    width: 100%;
    max-width: 120rem;
    /* padding: 0 1.5rem; */
}

#header {
    margin-left: 60px;
}

.nav-item {
    margin-left: 45px;
}

.nav-color {
    color: white;
}

.nav-button button {
    border-color: white;
    color: white;
}

.nav-button button:hover {
    background: white;
    color: black;
}

.sponsor {
    margin-left: 220px;
}

.skill {
    margin-left: -1200px;
}

.carousel_text {
    font-size: 50px;
    margin-left: -885px;
}

.carousel_text1 {
    font-size: 50px;
    margin-left: -1090px;
}

.carousel_text2 {
    margin-left: -310px;
    line-height: 1.3;
    text-align: justify;
}

.carousel_play {
    margin-left: -1270px
}

.carousel_slider {
    margin-left: -1100px;
}

.carousel-item img {
    height: 700px;
    width: 100%;
}

.eksathe-vision {
    margin-left: 60px;
}

.view-works {
    margin-left: 60px;
}

.view-works button {
    margin-top: 100px;
    margin-left: 180px;
}

.gallery {
    margin-left: 60px;
    margin-right: 40px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img-1 img-1 img-2' 'img-1 img-1 img-3 ' 'img-4 img-5 img-5' 'img-6 img-6 img-8' 'img-7 img-7 img-8';
}

.image-gallery a {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery button {
    margin-top: 478px;
    margin-left: -473px;
    font-size: 18px;
    padding: 16px;
}

.img-1 {
    grid-area: img-1;
    min-height: 41.5rem;
    /* min-width: 28rem; */
    /* opacity: .4; */
    background-image: url('Images/Content Card Hover (1).png');
}

.img-2 {
    grid-area: img-2;
    background-image: url("Images/Content Card 1.png");
}

.img-3 {
    grid-area: img-3;
    background-image: url("Images/Content Card 2.png");
}

.img-4 {
    grid-area: img-4;
    min-width: 26rem;
    min-height: 30rem;
    background-image: url("Images/Content Card 3.png");
}

.img-5 {
    grid-area: img-5;
    min-height: 30rem;
    background-image: url("Images/Content Card 4.png");
}

.img-6 {
    grid-area: img-6;
    background-image: url("Images/Content Card 5.png");
}

.img-7 {
    grid-area: img-7;
    background-image: url("Images/Content Card 6.png");
}

.img-8 {
    grid-area: img-8;
    min-height: 41.5rem;
    min-width: 42rem;
    background-image: url("Images/Content Card 7.png");
}

.impact {
    margin-left: 100px;
    margin-right: 40px;
}

.support {
    background-color: rgb(236, 232, 232);
}

.support h2 {
    margin-top: 100px;
}

.support button {
    margin-top: 80px;
}

.volunteer {
    background-color: #00BABC;
    margin-left: 100px;
}

.team {
    background-color: #0DB14B;
    margin-left: 100px;
}

.project {
    background-color: #F37121;
    margin-left: 100px;
}

.projects-para-head {
    font-weight: bold;
    font-size: 40px;
    line-height: 45.2px;
}

.impact-bg {
    background-color: rgb(238, 238, 238);
    padding-inline: 100px;
    margin-bottom: 100px;
}

.impact-button {
    margin-left: 180px;
}

.impact-para {
    margin-left: 20px;
}

.impact1 {
    background-image: url(Images/Rectangle\ 14.png);
    line-height: 10px;
    color: white;
    text-align: center;
    padding-block: 100px;
}

.impact2 {
    background-image: url(Images/impact2.png);
    line-height: 10px;
    color: white;
    text-align: center;
    padding-block: 100px;
}

.impact3 {
    background-image: url(Images/impact3.png);
    line-height: 10px;
    color: white;
    text-align: center;
    padding-block: 100px;
}

.footer-section {
    background: #333333;
    padding-top: 70px;
    margin-top: 50px;
}

.footer-left {
    margin-bottom: 30px;
}

.footer-left .footer-logo {
    margin-bottom: 24px;
}

.footer-left .footer-logo a {
    display: inline-block;
}

.footer-left .footer-content h3 {
    width: 349px;
    height: 45px;
    left: 70px;
    top: 4415px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #F2F2F2;
}

.footer-widget {
    margin-bottom: 30px;
}

.footer-widget .footer-social a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #f1f3f5;
    color: #111010;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    z-index: 1;
}

.footer-widget .footer-social {
    padding-top: 25px;
}

.footer-widget .footer-social a:hover:before {
    opacity: 1;
}

.footer-widget .footer-social a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

.footer-widget ul li {
    list-style: none;
}

.footer-manu-2 {
    font-size: small;
    color: rgb(194, 192, 192);
}

.about-left {
    width: 45%;
}

.about-left ul li {
    list-style: none;
    padding-bottom: 30px;
}

.about-left ul li a {
    text-decoration: none;
    color: black;
}

.about-right {
    width: 80%;
    margin-left: -75px;
}

.about-right h2 {
    font-weight: bold;
    line-height: 113%;
    font-style: normal;
    font-size: 40px;
}

.about-right .right-side {
    display: flex;
}

.about-right .about-left-1 {
    margin-top: 25px;
    padding-right: 90px;
}

.about-right .about-left-1 a {
    color: black;
    font-weight: 700;
}

.about-right .about-right-1 {
    margin-top: 25px;
}

.about-right .about-right-1 a {
    color: black;
    font-weight: 700;
}

.about-right .demo {
    padding-top: 40px;
}

.founder-left .founder-note h2 {
    font-weight: 700;
}

.founder-left .founder-content {
    display: flex;
}

.founder-left .founder-content .founder-content-left {
    width: 80%;
    padding: 50px 100px 0px 0px;
}

.founder-left .founder-content .founder-content-right {
    width: 80%;
    padding: 0px 150px 0px 0px;
}

.founder-left .founder-team h2 {
    color: black;
    font-weight: 700;
}

.founder-left .founder-team-image {
    display: flex;
}

.about-right .pillers {
    display: flex;
}

.about-right .pillers {
    padding-top: 30px;
}

#header {
    color: red;
    text-align: center;
    font-weight: bold;
    top: 0;
    transition: 0.2s;
}

@media screen and (min-width: 481px) and (max-width: 668px) {
    #header {
        margin-left: 1px;
    }
    .nav-item {
        margin-left: 1px;
    }
    .sponsor {
        margin-left: 1px;
    }
    .search {
        margin-left: 200px;
        margin-bottom: 50px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .carousel-item img {
        height: 550px;
        width: 100%;
    }
    .skill {
        margin-left: -410px;
        width: 70px;
        height: 70px;
    }
    .carousel_text {
        font-size: 30px;
        margin-left: -200px;
    }
    .carousel_text1 {
        font-size: 30px;
        margin-left: -325px;
    }
    .carousel_text2 {
        margin-left: -110px;
        line-height: 1.3;
        text-align: justify;
    }
    .carousel_play {
        margin-left: -380px
    }
    .carousel_slider {
        margin-left: -200px;
    }
    .eksathe-vision {
        margin-left: 30px;
    }
    .eksathe-vision img {
        width: 400px;
    }
    .eksathe-vision p {
        font-size: 11.5px;
    }
    .view-works {
        margin-left: 0px;
    }
    .view-works button {
        margin-top: 0px;
        margin-left: 30px;
        font-size: 13px;
    }
    .gallery {
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* grid-gap: 1.5rem; */
        grid-template-areas: 'img-1' 'img-2' 'img-3' 'img-4' 'img-5' 'img-6' 'img-7' 'img-8';
    }
    .image-gallery a {
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-gallery button {
        margin-top: 430px;
        margin-left: -470px;
        font-size: 14px;
        padding: 12px;
    }
    .img-1 {
        grid-area: img-1;
        min-height: 35rem;
        /* min-width: 28rem; */
        /* opacity: .4; */
        background-image: url('Images/Content Card Hover (1).png');
    }
    .img-2 {
        grid-area: img-2;
        background-image: url("Images/Content Card 1.png");
    }
    .img-3 {
        grid-area: img-3;
        background-image: url("Images/Content Card 2.png");
    }
    .img-4 {
        grid-area: img-4;
        min-width: 26rem;
        min-height: 30rem;
        background-image: url("Images/Content Card 3.png");
    }
    .img-5 {
        grid-area: img-5;
        min-height: 30rem;
        background-image: url("Images/Content Card 4.png");
    }
    .img-6 {
        grid-area: img-6;
        background-image: url("Images/Content Card 5.png");
    }
    .img-7 {
        grid-area: img-7;
        background-image: url("Images/Content Card 6.png");
    }
    .img-8 {
        grid-area: img-8;
        min-height: 41.5rem;
        min-width: 42rem;
        background-image: url("Images/Content Card 7.png");
    }
    .impact {
        margin-left: 20px;
        margin-right: 20px;
    }
    .impact-header {
        margin-left: 30px;
    }
    .impact p {
        width: 550px;
    }
    .support h2 {
        margin-top: 100px;
    }
    .support button {
        margin-top: 80px;
    }
    .volunteer {
        margin-left: 30px;
        margin-right: 30px;
    }
    .team {
        margin-left: 30px;
        margin-right: 30px;
    }
    .project {
        margin-left: 30px;
        margin-right: 30px;
    }
}